html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.btn-group button {
  cursor: pointer;
  padding: 9px;
  font-size: 12px;
  text-align: center;
  border-radius: 0px;
  border-width: 0px;
  margin-right: 5px;
}
.btn-group button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn-group button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
